body{
    width: 100vh;
    height:auto;
    box-sizing: border-box;
    border:none;
}
#menu{
    background-color: rgb(220, 18, 18);
    width:100vw;
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:100px 50px;
}
#main{
    background-color: #ffffff;
    width:100vw;
    height:100vh;
}
#submain{
    background-color: #ffffff;
    width:100vw;
    height:100vh;
}
#info{
    background-color: rgb(220, 18, 18);
    width:100vw;
    height:200px;
}

#logo{
    width:auto;
    height:60px;
}

#banner{
    width:100vw;
    height:auto;
}